.wp-caption{
  width: 100% !important;
  height: auto;
}

br.mobile{
  display: none;
}

.fontResizer{
  list-style: none;
  position: relative;
  right: 0px;
  /* margin: 30px 0; */
  bottom: 8px;
  float: right;
  //  height: 10px;
  right: 15px;
  font-size: 22px;
  color: black;
  display: inline-block;

  a{
    float: left;
    margin: 0 5px;

    &.fontResizer_minus{

    }
    &.fontResizer_reset{

    }
    &.fontResizer_add{

    }
  }
}

//Quotes
section.quotes{
  .flickity-viewport{
    background-color:#e3e3e3;
    height:280px;
//    padding: 20px 0;
  }

  section.quote{
//    margin-bottom:32px;
    padding:32px 130px;
    width: 100%;
    @include centerElement('vertical');
    @include box-sizing();

    blockquote{
      text-align:center;
      font-size:33px;
      line-height:120%;
      color:$color4;
      font-style:italic;

      span{
        font-size:20px;
        margin-top:-20px;
        display: block;
        margin:0;
        margin-top:30px;
        line-height: 110%;
        small{
          font-size:15px;
          font-weight: 400;
          font-style: italic;
        }
      }
    }
  }
}

body.admin-bar {
  //margin-top:32px;
}
body{
  .pagewrap{
    max-width:$page-width;
    margin:0 auto;
//    padding: 20px 5%;
    padding: 20px 30px;
    @include pie-clearfix();
    @include box-sizing();
  }


  nav#mobile-main-nav{
    position: absolute;
    @include single-transition(all, 0.2s linear);
    @include translateY(-150%);

    &.active{
      @include translateY(0);
    }

    left:0;
    width: 100%;
    margin: 0;
    z-index:1;
    @include box-sizing('border-box');
    @include single-box-shadow(0px, 2px, 2px, 2px, rgba(0,0,0,0.2));

    form#searchform{
      display:inline-block;
      width:100%;
      @include box-sizing('border-box');
      input[type=text]{
        @include box-sizing('border-box');
        width:100%;
        height:55px;
        line-height:35px;
        padding:0 5%;
        font-size:16px;

        border:1px solid #e2e2e2;
        background: #ececec url('../../assets/images/search-icon.jpg') no-repeat right;
        background-position: 96% 50%;
      }

      label,input[type=submit]{ display:none;}

    }

    ul{
      margin:0;
      padding:0;
      list-style: none;
      background-color:#fff;

      li{
        width:100%;
        a{
          border-bottom:1px solid #ccc;
          color:$color1;
          display: block;
          width:100%;
          padding:12px 5%;
          @include box-sizing('border-box');

          &:hover{
            background-color:$color1;
            color:#fff;
          }
        }

        ul{

          li{
            a{
              padding:12px 8%;
            }

          }


        }
      }
    }

  }


  header#main-header{
    position:relative;
    background-color: #fff;
    left:0;
    top:0;
    right:0;
    z-index:2;

    @include single-box-shadow(1px, 1px, 1px, 1px, rgba(0,0,0,0.2));

    section.pagewrap{ position:relative; padding:0 30px;}

    #logo{
      display:inline-block;
      vertical-align:top;
      float:left;
      width:15%;
      min-width: 140px;
      max-width: 145px;

      img{ width:100%; }
    }



    img.toggle-top-menu{
      float:right;
      margin-top:29px;
      //border:2px solid $color1;
      padding:10px;
      background-color:#fff;
      @include border-radius(5px);
      outline: none;
    }

    // MAIN MENU
    nav#main-nav {
      float:right;
      width:auto;
      text-align:right;
      ul.menu{
        margin:25px -10px 0 0;
        padding:0;
        li{	display: inline-block; position:relative;	height:40px;

          &:hover ul.sub-menu{
            display:block;
          }

          // SUBMENU
          ul.sub-menu{
            padding: 0;
            margin:25px -10px 0 0;
            display:none;
            float:left;
            position:absolute;
            right:15px;
            top:5px;
            background-color:#fff;
            min-width:200px;
            z-index:99999;
            text-align: left;
            //@include single-box-shadow(1px, 1px, 1px, 1px, rgba(0,0,0,0.2));
            border: 1px solid #eee;
            li{
              box-sizing:border-box;
              height:auto;
              width:100%;
              padding:15px;
              border-bottom:1px solid #eee;
              a {
                color:$color1;
                font-size:15px;
              }
              &:hover{
                background:$color1;
                color:#fff;
                a{color:#fff;}
              }
            }
          }

          a{
            display:block;
            color:$color4;
            font-size:18px;
            padding:0 10px;
            font-weight:600;
          }
        }
      }

    }

    // search form
    form#searchform{
      display:inline-block;
      float: right;

      label,input[type=submit]{ display:none;}

      input[type=text]{
        height:35px;
        line-height:35px;
        padding:0 10px;
        width:270px;
        border:1px solid #e2e2e2;
        background: #ececec url('../../assets/images/search-icon.jpg') no-repeat right;
      }

    }
  }

  section#breadcrumbs{
    height:50px;
    border-bottom:1px solid #efefef;
    background-color:#f7f7f7;
    line-height:50px;
    font-size:14px;

    .pagewrap{
      padding-top:0;
      padding-bottom: 0;
    }
    &.bottom{

      background-image: linear-gradient(225deg, #009ba7 0%, #448993 100%);
      color:#fff;
      a{
        color:#fff;
      }

      h3{
        margin:0;
        font-size: 25px;
        line-height: 28px;
      }
    }
  }

  section#content{
    position:relative;
    left:0;
    right:0;
    top:2px;
    margin-bottom:32px;

    .pagewrap{ position:relative; }

    article{
      width:67%;
      min-height: 250px;
      float:left;

      h1:first-child, h2:first-child{
        margin-top:15px;
        margin-bottom:25px;
      }

      .gallery {
        margin:0 -1%;
        .gallery-item{
          position: relative;
          overflow: hidden;
          padding:10% 15.66%;
          margin:1%;
          height:0;
          width:0;
          @include box-sizing();
        }

        img{
          @include centerElement("both");
          border:none;
          width: 100%;
          height:auto;
        }
      }


      h1 {
        margin: 25px 0 35px 0;
        font-size:40px;
      }

      h2 {
        margin: 35px 0 20px 0;
        font-size:30px;
        line-height:120%;
      }

      h4 {
        color:$color1;
        font-weight: 400;
        margin: 20px 0 5px 0;
        font-size:20px;
      }

      h3 {
        margin: 0 0 20px 0;
        font-size:17px;
        line-height:150%;
      }
    }

    #col-right{
      position:relative;
      float:right;
      margin-top:25px;
      margin-left:3%;
      width:30%;

      .related{
        margin-top:24px;

        h2{
          font-size: 18px;
          font-weight: 600;
          margin:0 0 20px 0;
        }

        ul{
          margin:0;
          padding:0;
          list-style:none;
          border-top: 1px solid #e5e5e5;
          li{
            a{
              display: block;
              width:100%;
              color:$color1;
              padding:10px 0;
              border-bottom: 1px solid #e5e5e5;
              font-size:14px;
              font-weight: 600;

              i{
                color: #009ba7;
                margin-right:10px;
              }

            }
          }
        }

        a.all-questions-link{
          margin-top:20px;
          float: right;
          color:$color1;
          font-size:14px;
          font-weight: 600;
          i{
            color: #009ba7;
            margin-left:10px;
          }
        }

      }

      .info{
        @include clearfix();
        width:100%;
        //height:444px;
        background-image: linear-gradient(133deg, #448993 0%, #004f64 100%);
        opacity:0.95;
        color:#fff;
        padding:32px;
        box-sizing:border-box;

        p{
          margin-bottom:15px;
        }

        a.more-info{
          color:#fff;
          position:relative;
          top:64px;
          right:32px;
          left:0;
          font-size:16px;

          i{ float:right; }
        }


      }

      .btn{
        margin-top:14px;
        display:block;
        padding:24px 32px;
        box-sizing:border-box;
        width:100%;
        font-size:16px;
        color:#fff;
        i{ float:right; }
        @include background-image(linear-gradient(to right,$color1,$color2));
      }

    }
  }

  section#banner{
    width:100%;
    background-image:url('http://img0.mxstatic.com/wallpapers/70e4d6d6108f68cfa6e50a44cbd9e115_large.jpeg');
    background-size:cover;
    background-position: 50%;
    height:220px;
    .pagewrap{height: 100%;}
    h1{
      color:#fff;
      font-size:32px;
      font-weight:bold;
      position:absolute;
      width:100%;
      bottom:40px;
      margin:0;
      left:0;
      padding:0 20px;
      @include box-sizing();
      text-shadow: 0 1px 4px rgba(93, 110, 127, 0.66);
    }
  }

  footer#main-footer{
    padding-top:7px;
    position:relative;
    background-image: linear-gradient(137deg, #5d6e7f 0%, #567685 28%, #547786 34%, #004f64 100%);
    color:#fff;
    @include clearfix();

    h3{
      color: white;
    }

    #breadcrumbs{
      border:0;
      font-size:13px;
      .pagewrap{
        padding-top:0;
        padding-bottom: 0;
      }
    }

    .sidebar-widget{
      @include box-sizing();
      margin-top:10px;
      float:left;
      width:33%;
      color:#fff;
      font-size:14px;

      a{
        color:#fff;
        text-decoration: none;
        font-weight: bolder;
      }

      h2{
        margin:0 0 20px 0;
        padding:0;
        font-size:17px;
        color:#fff;
      }

      p{
        margin:10px 0;
      }

      ul{
        margin:0;
        padding:0;
        list-style:none;
        line-height: 140%;
        li{
          margin:10px 0;
        }
      }

      &:nth-child(1){
        ul li{
          position: relative;
          @include icon-before('\f061',9px,#00a9b6);
          //          @include icon-before('\f111',9px,#00a9b6);
          padding-left:20px;
          &:before {
            position: absolute;
            left:0;
          }
        }
      }

      &:nth-child(2){
        width:33%;
        padding: 0 30px;
        i {
          font-size:20px;
          margin: 5px 0;
        }
      }
    }
  }
}



body.page-template-resultaten{

  $itemHeight: 240px;


  section#content{
    article{
      width:100%;
      min-height:inherit;
      padding-bottom:10px;
    }
  }
  section#projects-overview{

    clear: both;
    position: relative;
    @include pie-clearfix();
    padding-bottom:160px;


    .project-item{

      width:31%;
      margin:0.5%;
      float:left;
      position:relative;
      height:220px;
      overflow: hidden;
      z-index:0;
      text-align: center;

      .image{
        position:absolute;
        left:0;
        top:0;
        display: block;
        width:100%;
        background-size:cover;
        background-position: center;
        height:$itemHeight;

        @include single-transition(all, 0.3s);
        z-index:9999;
      }

      .close{
        position:absolute;
        right:5px;
        top:5px;
        z-index:99999;
        color: #fff;
        display: none;
        width:20px;
        height:20px;
        cursor: pointer;
        text-align: center;
        @include single-transition(all, 0.3s);
        padding:2px;
      }


      .shadow{
        position:absolute;
        left:0;
        top:0;
        right:0;
        bottom:0;
        @include single-box-shadow(0px, 2px, 2px, 2px, rgba(0,0,0,0.2));
        @include single-transition(all, 0.3s);
      }


      .overlay{
        position:absolute;
        left:0;
        top:0;
        right:0;
        bottom:0;
        opacity: 0.71;
        background-color: #43808d;
        z-index:99999;
      }

      .content{
        position:absolute;
        top:32px;
        margin:-15px -15px 0 -15px;
        display: block;
        background-color:#fff;
        padding:15px;
        width:100%;
        z-index: -1;
        height:160px;
        opacity: 0;
        overflow: hidden;
        @include single-transition(all, 0.3s,ease,0.2s);
        @include single-box-shadow(0px, 2px, 2px, 2px, rgba(0,0,0,0.2));

        h3,h4{
          margin:15px 0;
          color:$color2;
          font-size: 18px;
          line-height: 15px;
          font-weight: 300;
        }

        h4{
          font-size: 18px;
          margin:20px 0 10px 0;
          font-weight: 600;
        }
        p{
          font-size: 14px;
          line-height: 20px;
          font-weight: 400;
          font-family: Arial;
          margin: 17px 0 20px 0;
        }

        a.btn{
          display: block;
          width: 120px;
          height: 31px;
          background-color: #055367;
          border-radius: 5px;
          border-top-right-radius: 0px;
          text-align: center;
          color:#fff;
          line-height: 31px;
          font-size:13px;
          font-weight: 600;
          position: absolute;
          right: 15px;
          bottom: 20px;
          @include centerElement('horizontal');
        }
      }


      /* Active state */
      &.active{
        z-index:9;
        overflow:visible;
        .overlay{ display: none; }

        .content{
          opacity: 1;
          top:245px;
          z-index: 9999;
        }

        .close{ display: block;}

        .shadow{

          left: -15px;
          top: -10px;
          right: -15px;
          bottom: -5px;
        }

        .image{
          position:absolute;
          left:-15px;
          top:-10px;
          right:-15px;
          width: -webkit-calc(100% + 30px);
          width: -moz-calc(100% + 30px);
          width: calc(100% + 30px);
          z-index: 999;
          height:240px;
          z-index:9999;
        }
      }


    }

  }

}



// HOME PAGE
body.page-template-homepage{



  section#intro-animation{

    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:#fff;
    z-index:999999;

    img.logo{
      @include centerElement('both');
      max-width: 90%;
      padding: 0 5%;
      //      margin-left: -151px;
      //      margin-top: -139px;
      display: none;
    }

    blockquote{
      text-align: center;
      line-height: 100%;
      display: none;
      @include centerElement('both');
      font-size:78px;
      color:$color1;
      font-weight:400;
      width: 100%;
      span{
        color:$color2;
        font-weight: bold;
      }
    }

  }

  #slider_home {
    height:400px;
    width:100%;

    .sliderContainer {
      width: 100%;
      height: 100%;
    }

    .labels {
      @include box-sizing();
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 40px;
      @include single-text-shadow(2px, 2px, 2px, 40px, rgba(0,0,0,0.2));

    }
    .labels .inner {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 0;
      margin: 0;
    }
    .labels .inner.align-top_left span {
      left: 0;
      top: 0;
      text-align: left;
    }
    .labels .inner.align-bottom_left span {
      left: 0;
      bottom: 0;
      text-align: left;
    }
    .labels .inner.align-top_right span {
      right: 0;
      top: 0;
      text-align: right;
    }
    .labels .inner.align-bottom_right span {
      right: 0;
      bottom: 0;
      text-align: right;
    }
    .labels .inner.align-bottom_center span {
      position: absolute;
      left: 50%;
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      bottom: 0;
      top: auto !important;
      margin: 0;
      text-align: center;
    }
    .labels .inner.align-top_center span {
      position: absolute;
      left: 50%;
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      top: 0;
      bottom: auto !important;
      margin: 0;
      text-align: center;
    }
    .labels .inner.align-center span {
      position: absolute;
      top: 50%;
      left: 50%;
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }

    .labels {
      position:absolute;
      padding:40px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      h1{
        font-size: 50px;
        color: #fff;
        margin-bottom: 5px;

      }
      h2{
        font-family: "Source Sans Pro", sans-serif;
        font-size: 40px;
        font-weight: bold;
        color: #fff;
        line-height: 130%;
        margin: 0;


      }


      .inner{
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0;
        margin: 0;
        span {
          width: 100%;
          position: absolute;
        }
      }
    }


    .description{
      display: none;
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }



  }

  section#content{
    @include clearfix();

    article.intro{
      margin:0;
      width:100%;
    }

    section#steps{
      margin-top:-150px;
      margin-bottom: -20px;
      .row {
        display: block;
        position: relative;
        min-height: 510px;
      }
      .col{
        position: absolute;
        background-color:$color1;
        height: 400px;
        background-image: linear-gradient(133deg, #448993 0%, #004f64 100%);
        width:31.5%;
        display: inline-block;
        vertical-align: top;
        color:#fff;
        bottom:0;
        font-size:14px;
        left:0;

        &:before{
          display: block;
          width: 100%;
          height: 50px;
          content: '';
          background-image: url("../../assets/images/step-header-bg.png");
          background-size: 100% 100%;
          background-color: #fff;
          background-repeat: no-repeat;
        }


        section{
          display:block;
          padding:18px;
        }

        p{
          font-size:14px;
        }

        h2{margin-top:0; margin-bottom:20px; font-weight:bolder; font-size:20px; color:#fff;}
        a{
          position: absolute;
          bottom:20px;
          color:#fff;
          font-weight:bolder;
          font-size:17px;
          @include box-sizing();
          left:0;
          width:100%;
          padding:10px 18px;

          i{ float:right;}
        }


      }

    }

    footer{
      clear: both;
      h3,	a.btn{ float:right; }


      h3{
        font-size:17px;
        line-height:150%;
        color:$color1;
        margin-right:20px;
        text-align: right;
      }

      a.btn{
        @include single-transition(all, 0.3s);
        box-sizing:border-box;
        margin-top:14px;
        display:block;
        width:290px;
        background-color:#576c7e;
        padding:24px;
        cursor:pointer;
        color:#fff;
        font-size:20px;
        font-weight: bolder;
        i{ float:right; }
        &:hover {
          background-image: linear-gradient(135deg, #448993 0%, #009ba7 100%);
        }
      }

    }

  }

  header#about-us-header{
    background-color:#e3e3e3;
    padding:26px 0;

    h2{
      font-size:42px;
      font-weight:bold;
      margin:10px 0 13px 0;
    }

  }

  section#about-us{

    .col{
      float:left;

      width:100%;
      margin-right:4%;
      text-align: justify;

      h2{text-align: left; font-size:24px; font-weight: 700; letter-spacing: -0.04em;}

      img{
        margin-top:23px;
        width:100%;
      }

      a.btn{
        box-sizing:border-box;
        margin-top:14px;
        display:block;
        width:100%;
        background-color:$color2;
        padding:24px;
        cursor:pointer;
        color:#fff;
        font-size:16px;
        background-image: linear-gradient(135deg, #448993 0%, #009ba7 100%);
        i{ float:right; }
      }
    }
  }
}

body.single-results{

  section#content{
    section#col-right.banner-space{
      top: 0;
      margin: 0;

      &:before{
        display: none;
      }

      section.factors{
        background: $color3;
        padding: 30px;
        @include box-sizing('border-box');
        color: white;
        margin-top: 20px;

        h1,h2,h3,h4,p,span,a{
          color: white;
        }

        h3{
          margin-top: 0;
          margin-bottom: 10px;
          font-size: 30px;
          font-weight: 600;
          line-height: 24px;
        }

        ul{
          margin: 0;
          padding: 0;
          margin-left: -15px;
          counter-reset: order;
          display: table;
        }

        li{
          font-family: "Helvetica";
          font-size: 15px;
          font-weight: 400;
          line-height: 20px;
          margin: 15px 0;
          list-style-type: none;
          counter-increment: order;
          display: inherit;


          &:before{
            //            content: "\f061";
            content: "\f111";
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
            //            font-size: 16px;
            font-size: 7px;
            padding-left: 19px;
            transition: 0.5s;
            padding-right: 15px;
            display: table-cell;
            text-align: right;
            vertical-align: top;
          }
        }

        section.right{
          text-align: right;
          i{
            margin-left: 7px;
          }
        }

        .more-info{
          font-size: 17px;
          font-weight: 600;
          line-height: 32px;
        }
      }

    }
    article{
      img{
        max-width: 100%;
        height: auto;
      }
      h1{
        margin: 20px 0 37px 0;
        font-size: 35px;
        font-weight: 600;
        line-height: 26px;
        letter-spacing: 0;
      }
      h2{
        font-size: 22px;
        font-weight: 600;
        color: $color1;
        margin: 30px 0 13px 0;
        line-height: 100%;
        letter-spacing: 0;
      }
      h3{
        font-size: 18px;
        font-weight: 400;
        color: $color3;
        margin: 0 0 32px 0;
        line-height: 100%;
        letter-spacing: 0;

        span{
          font-weight: 700;
        }
      }
      p{
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0;
      }
    }
  }
}

section#pagination{
  position: relative;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #5d6e7f;

  a{
    color: #5d6e7f;
  }

  .center{
    @include centerElement("horizontal");
    text-align: center;

    i{
      font-size: 25px;
    }
  }

  .nav-prev, .nav-next{
    max-width: 40%;
    margin-top: 25px;
    i{
      color: $color2;
    }
  }

  .nav-prev{
    float: left;

    i{
      margin-right: 10px;
    }
  }

  .nav-next{
    float: right;

    i{
      margin-left: 10px;
    }
  }
}

// STANDARD PAGES
body.page{

  section#content{
    min-height:650px;

    article{
    }

    section#col-right{
      margin-top:-70px;
      .info{
        height:auto;
      }

      &.banner-space{
        top:-460px;
        margin-bottom: -460px;
      }

    }

  }

}


// QUESTIONS PAGE
body.page-template-questions{

  #content{

    article{
      width:100%;
      height:auto;
      min-height:auto;
      float:none;
    }

  }

}

body{
  h1{
    .grey{ color:$color3; }
    margin:15px 0 25px 0;
  }
}


// Archive

body.archive, body.page-template-references{

  .pagination{
    display: block;
    height:45px;
    width:100%;
    position: relative;
    text-align: center;

    .next, .prev{
      font-weight:600;
      color:$color3;
      text-transform: uppercase;
    }

    .next{ position:absolute; right:0;}
    .prev{ position:absolute; left:0;}

  }

  section.post{

    padding-bottom:35px;




    h2{
      color:$color2;
      font-size:18px !important;
      margin-bottom:7px !important;
    }

    a.btn{
      @include border-radius(5px);
      padding:7px 19px;
      background-color:#055367;
      color:#fff;
      text-align: center;
      font-size:13px;


      &:hover{
        background-color:$color1;
      }
    }

    &.withImg{
      padding-bottom:5px;
      img{
        float:left;
        margin-right:35px;
      }

      a.btn{
        clear:both;
      }

    }

  }

}


// Search
body.search{
  h1{
    .grey{ color:$color3; }
    margin:20px 0 10px 0;
  }
  section#content{
    min-height:650px;

    article{
      margin-top:10px;
      .post {
        position: relative;

        border-bottom: 1px solid #ccc;
        padding-bottom: 50px;

        h2{
          color:$color2;
          font-weight:bold;
          font-size:22px;
          margin:20px 0;
        }
        a{

          &:hover{
            text-decoration: underline;
          }
        }

        a.btn{
          @include border-radius(5px 5px 0 0);
          background-color: #448993;
          color: #fff;
          padding: 10px;
          padding-left:15px;
          float: right;
          position: absolute;
          right: 0;
          bottom: 0;
          font-weight: 700;
          i{
            margin:0 5px;
          }

          &:hover{
            text-decoration: none;
          }
        }
      }
    }

    section#col-right{
      .info{
        height:auto;
        h3{margin-top:0;}
      }
    }
  }
}

body.search section#content {

  header#search {
    @include pie-clearfix();
    .title {

    }
    form {
      float:left;
      border: 3px solid #ddd;
      @include box-sizing();
      @include border-radius(5px);
      width:100%;
      margin-top:20px;

      label{display: none;}
      input[type="text"] {
        width:60%;
        float:left;
        font-size:20px;
        border:1px solid #ddd;
        padding:15px;
      }
      input[type="submit"] {
        width:40%;
        float:right;
        font-size:20px;
        padding:16px 20px;
        @include border-radius(0 3px 3px 0);
      }
    }
  }

  aside {
    padding-top:30px;
    @include box-sizing();
    h3{
      font-size:16px;
    }
  }

  article {
    margin-top:40px;
    width:100%;
    float:none;
    mark{
      background: #ededed;
    }
    .hilite { font-weight: 900; color:$color2;}
  }
}


// SEARCH PAGES
body.search{

  section#content{
    min-height:650px;

    article{
    }

    section#col-right{
      top:-96px;
      .info{
        height:auto;
      }
    }
  }

}



// QUESTIONS OVERVIEWS!!!

#questions-overview{
  margin-bottom:35px;
  @include clearfix();

  .title {
    margin-top:0;
    margin-bottom:30px;
  }

  .questionbox{
    position: relative;
    @include box-sizing();
    background-color:$color1;
    width:31.5%;
    display:inline-block;
    vertical-align: top;
    @include border-radius(5px);
    padding:20px;
    padding-bottom:40px;
    margin:0 1.8% 40px 0;
    box-sizing:border-box;
    color:#fff;
    position:relative;
    height:310px;
    float:left;

    h4 {font-size:16.5px; margin:2% 0;}

    &:nth-child(2n+3){
      margin-right:0;
    }

    ul{
      margin:25px 0 0 0;
      padding:0;
      list-style:none;
      line-height: 120%;

      li{
        position: relative;
        margin:12px 0;
        a{ color:#fff; opacity: 0.8;}
        padding-left:25px;

        i{
          @include single-transition(left, 0.3s);
          position: absolute;
          margin-right:10px;
          color:$color4;
          height:100%;
          left: 0px;
          font-size:14px;
          top:2px;

        }
        &:hover{
          a{opacity: 1; text-decoration: underline;}
          a i{left:5px;}
        }
      }
    }

    button{
      position:absolute;
      bottom:-20px;
      right:0;
      width:125px;
      height:50px;
      line-height: 50px;
      background-color:$color4;
      @include border-radius(5px 0px 10px 5px);
      border:0;
      font-weight: 700;
      font-size: 13px;
      &:hover {
        background-color:$color2;
      }
      a{
        color:#fff;
        position: absolute;
        left:0;
        top:0;
        right:0;
        bottom:0px;
      }
    }

  }
}





// Contact
body.page-template-contact{


  section#content{

    #col-right{
      &:before{ display: none; }
      padding-top:140px;

      h4{
        color:$color1;
        font-size:18px;
        font-weight: normal;
        margin-bottom:20px;
      }

      p{
        line-height:150%;
      }

      a{ color:$color3; text-decoration:none;}
    }

  }

  .formcraft-css{

    .powered-by{ display: none; }

    input[type=text],textarea{
      border:1px solid #5ba676;
      background-color:#fff !important;
    }

    .fc-form .form-element .submit-cover.animate-false .submit-button{
      display: inline-block;
      position:relative;
      background: #045367;
      padding:10px 22px;
      //margin:5px;
      color:#fff;
      font-weight:bold;
      font-size:14px;
      border-radius: 5px !important;

      &:hover{
        background: $color1;
      }
    }

  }


  html .formcraft-css .fc-form .form-element.form-element-type-submit{
    float:right !important;
  }
}

.wpcf7-form{

  .wpcf7-not-valid, div.wpcf7-validation-errors{
    border-color: red;
  }

  input, textarea{
    border: 1px solid #5ba676;
    //    border: 1px solid #ddd;
    //    border-top-color: #c6c6c6;
    //    border-left-color: #c9c9c9;
    border-radius: 2px;
    box-shadow: 1px 1px 0 #eee inset;
    -webkit-box-shadow: 1px 1px 0 #eee inset;
    padding: 9px 12px 8px 12px;
    font-size: 1em;
    font-family: inherit;
    line-height: normal;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    transition: border-color .2s;
    -webkit-transition: border-color .2s;
    float: none;
    max-width: 100%;
    position: relative;
  }

  //  p{
  //    max-width: 50%;
  //  }

  .halve-left{
    float: left;
    width: 50%;
    @include box-sizing();
    padding-right: 10px;
    input, textarea{
      width: 100%;
    }
  }

  .halve-right{
    float: left;
    width: 50%;
    @include box-sizing();
    padding-left: 10px;
    input, textarea{
      width: 100%;
    }
  }

  .full-width{
    float: left;
    width: 100%;
    input, textarea{
      width: 100%;
    }
  }

  input[type="submit"]{
    border: 0;
    box-shadow: none;
    display: inline-block;
    position: relative;
    background: #045367;
    padding: 10px 22px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px !important;

    &:hover{
      background: #448993;
    }

  }
  .button.submit-button{
    br{
      display: none;
    }
  }
}
