//@import 'fonts';
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,400italic);

@import "coderehab/functions";
//@import "coderehab/basic-setup";

@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";
@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/css3/images";
@import "compass/css3/text-shadow";

$font1: 'Source Sans Pro', sans-serif;
$font2: 'Source Sans Pro', sans-serif;
$font3: 'Source Sans Pro', sans-serif;
$font4: 'Source Sans Pro', sans-serif;
$font5: 'Source Sans Pro', sans-serif;

$fontawesome: 'FontAwesome';

// theme colors
$color1: #448993;
$color2: #009ba7;
$color3: #5d6e7f;
$color4: #004f64;
$color5: #fff;

$gradient1-color1: #448993;
$gradient1zxz-color2: #009ba7;

$body-color: #fff;
$text-color: $color3;

$susy: (
  global-box-sizing: border-box,
  use-custom: (rem: true)
);

.color-1 {color:$color1}
.color-2 {color:$color2}
.color-3 {color:$color3}
.color-4 {color:$color4}
.color-5 {color:$color5}

.font-1 {font-family:$font1 !important}
.font-2 {font-family:$font2 !important}
.font-3 {font-family:$font3 !important}
.font-4 {font-family:$font4 !important}
.font-5 {font-family:$font5 !important}

$screen-size-mobile: 0px;
$screen-size-tablet: 790px;
$screen-size-desktop: 1020px;
$screen-size-bigscreen: 1400px;

$page-width: 1175px;
$slider-height: 708px;

html, body {
  background-color: $body-color;
  font-family: $font1;
  font-size: 15px;
  color: $text-color;
  line-height: 140%;
  margin: 0;
  padding: 0;
  letter-spacing: -0.02em;
  *{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

a {
  text-decoration:none;
  color:$color2;
}

hr {
  margin-top:20px;
  clear:both;
  height:1px;
  border:0;
  background-color:#fff;
  background-color:rgba(255,255,255, 0.5);
}

@include breakpoint(0px){
  h1 {font-family:$font2; color:$color4; font-size:35px;  font-weight:700; margin:45px 0 20px 0; line-height: 100%; letter-spacing: -0.04em;}
  h2 {font-family:$font2; color:$color4; font-size:30px;  font-weight:700; line-height: 100%; }
  h3 {font-family:$font2; font-size:22px;  font-weight:600; line-height: 100%;}
  h4 {font-family:$font2; font-size:18px; font-weight:600; line-height: 110%; }
  h5 {}
  h6 {}
  p  {margin:10px 0 20px 0;}
}

@include breakpoint(1100px){
  h1 {font-size:45px; margin:25px 0 10px 0; line-height: 100%; }
  h2 {font-size:35px; margin:25px 0 10px 0; line-height: 100%; }
  h3 {font-size:28px; margin:25px 0 0 0; line-height: 110%; }
  h4 {font-size:20px; margin:10px 0 0 0; line-height: 110%; }
  h5 {}
  h6 {}
  p  {margin:0 0 20px 0;}
}

p{
  a{text-decoration:underline;}
  a:hover{color:$color1;}
}

.partners_list, .widget_nav_menu{
  a:hover{color:$color1;text-decoration:underline;}
}

blockquote{
  margin:0;
  padding:0;
  font-weight:bold;
  font-size:15px;
  line-height:24px;
  text-align: left;
}

form {
  input {
    @include box-sizing();
    padding:10px;
    margin:0;
    -webkit-appearance: none;
  }
}

.button, input[type="submit"] {
  -webkit-appearance: none;
  @include box-sizing();
  display: inline-block;
  position:relative;
  background: $color1;
  color:#fff;
  border:none;
  padding:  16px 15px 16px 22px;
  //margin:5px;
  font-weight:600;
  font-size:16px;
  @include border-radius(1px, 1px);
  text-decoration:none;

  a {
    position: relative;
    display:block;
    margin:-10px -22px;
    padding:10px 22px;
    color:#000;
    text-decoration:none;
  }

  &:hover{
    background: $color1;
    color:#fff;
    a{
      color: #fff;
    }
  }

  &.full-width {
    display:block;
    width:100%;
    box-sizing: border-box;
  }

  &.dark{
    background: $color3;
  }

    &:after{
        content: "\f061";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        font-size: 13px;
        padding-left: 19px;
        transition: 0.5s;
    }
}
