
body, html{
	margin:0;
	padding:0;
}

.rehabslider {

	font-family:arial;
	display:inline-block;
	vertical-align:top;
	position:relative;
	max-width:100%;
	overflow:hidden;
	background:#ddd;

	.sliderContainer{
		width: 100%;
		height: 100%;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	.rehabslide {
		position:absolute;
		display:block;
		margin:0;
		padding:0;
		max-width:100%;
		top:0;
		left:0;
		width:100%;
		height:100%;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;

		.imageholder {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			overflow:hidden;
		}

		img{
			position:absolute;
			top:50%;
			left:50%;
		}

		.description {
			position:absolute;
			bottom:0;
			width:100%;
			background-color:rgba(0,0,0,0.5);
			.inner {
				color:#fff;
				display:block;
				margin:20px;
				padding:0 50px;
			}
		}

		.overlaybutton{
			position:absolute;
			top:0;
			left:0;
			bottom:0;
			right:0;
		}
	}

	.timeline {
		position:absolute;
		top:0;
		left:0;
		right:0;
		height:5px;
		background:#fff;
		background:rgba(255,255,255,0.7);
		z-index:1;

		.curtime {
			position:absolute;
			top:0;
			left:0;
			bottom:0px;
			background:$color1;
		}
	}


	.bullets{
		position:absolute;
		right:20px;
		bottom:20px;
		z-index:9999;
		button{
			border-radius:100%;
			-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			-o-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
			display: inline-block;
			width:15px;
			height:15px;
			background-color:rgba(255,255,255,0.5);
			margin:0 5px 0 0;
			outline:none;
			cursor: pointer;
			border:0;

			&.active{
				width:20px;
				height:20px;
				background-color:rgba(232,11,47,0.75);
			}
		}
	}

	.btn-prev, .btn-next{
		cursor: pointer;
		position: absolute;
		background-size: 50%;
		background-repeat: no-repeat;
		background-position: 50%;
		width: 100px;
		height: 100px;
		top: 50%;
		margin-top: -50px;
		z-index: 44444;
	}

	.btn-prev {
		background-image: url("../images/arrow-left-white.png");
		left:0;
		&:hover{
			//background-color:#fff;
			//background-image: url('../images/arrow-icon-left-black.png');
		}
	}

	.btn-next {
		background-image: url("../images/arrow-right-white.png");
		right:0;
		&:hover{
			//background-color:#fff;
			//background-image: url('../images/arrow-icon-right-black.png');
		}
	}
}

.rehabselector {
	max-width: 100%;
	position:relative;
	width:100%;
	height:100px;
	overflow: hidden;
	.rehabslide{
		position:relative;
		float:left;
		height: 100px;
		width: 125px;
		margin:0 5px;
		padding:0;
		overflow:hidden;
		.imageholder {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			overflow:hidden;
		}
	}

	.sliderContainer {
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}

	.btn-prev, .btn-next{
		cursor:pointer;
		background-color:#000;
		position:absolute;
		background-size:50%;
		background-repeat:no-repeat;
		background-position:50%;
		width:50px;
		height:50px;
		top:50%;
		margin-top:-25px;
	}

	.btn-prev {
		background-image: url('../images/arrow-icon-left-white.png');
		left:0;
		&:hover{
			background-color:#fff;
			background-image: url('../images/arrow-icon-left-black.png');
		}
	}

	.btn-next {
		background-image: url('../images/arrow-icon-right-white.png');
		right:0;
		&:hover{
			background-color:#fff;
			background-image: url('../images/arrow-icon-right-black.png');
		}
	}
	margin-bottom:50px;
}
