@import 'breakpoint';
@import 'site/settings';

html, body {
  background-color: #fff;
  padding: 0 5%;
  max-width: 700px;

  a {
    color:$color1;
  }

    h1 {
        margin: 25px 0 35px 0;
        font-size:40px;
    }

    h2 {
        margin: 35px 0 20px 0;
        font-size:30px;
        line-height:120%;
    }

    h4 {
        color:$color1;
        font-weight: 400;
        margin: 20px 0 5px 0;
        font-size:20px;
    }

    h3 {
        margin: 0 0 20px 0;
        font-size:17px;
        line-height:150%;
    }
}
