
@include breakpoint($screen-size-desktop){

  body{
    footer#main-footer .sidebar-widget{
      width:32%;

      &:nth-child(2){
        width:34%;
      }
      &:nth-child(3){
        width:34%;
      }
    }



  }

  body.page-template-homepage {
    #slider_home {
      height:700px;
      .labels {

        h1{font-size:75px; color:#fff; margin-bottom:5px;}
        h2{font-size:40px;}
      }
    }

    section#content section#steps {

      margin-top:-100px;

      .col{
        section{
          padding:30px;
        }

        h2{font-size:26px; line-height:110%;}

        p{
          font-size: 15px;
        }

        height: 450px;
        &:nth-child(2){
          height:503px;
          left:33.5%;
          top:inherit;
        }

        &:nth-child(3){
          height:555px;
          left:67%;
          top:inherit;
        }
      }
    }

    section#about-us{

      .col{
        float:left !important;
        width:30.66% !important;
        margin-right:4%  !important;

        a.btn i{
          font-size:20px;
        }

        &:nth-child(3){
          margin:0  !important;
        }
      }
    }
  }

  #questions-overview .questionbox{
    width:32.1%;
    &:nth-child(2n+3){
      margin-right:1.8%;
    }
    &:nth-child(3n+4){
      margin-right:0;
    }
  }

  body section#content section#col-right {
    top:-90px;


    .sidebar-widget{
      //      margin-left:30px;
    }
  }

  body section#content section#col-right.banner-space {
    top:-175px;
  }

  body section#banner h1 {
    font-size: 46px;
  }

  body.search section#content  {
    header#search {
      height:80px;
      .title {
        float:left;
        width:25%;
      }
      form {
        border: 3px solid #ddd;
        @include box-sizing();
        @include border-radius(5px);
        width:75%;
        float:right;
        margin-top:20px;

        label{display: none;}
        input[type="text"] {
          width:80%;
          float:left;
          font-size:20px;
          border:1px solid #ddd;
          padding:15px;
        }
        input[type="submit"] {
          width:20%;
          font-size:20px;
          padding:16px 20px;
          @include border-radius(0 3px 3px 0);
        }
      }
    }

    aside {
      margin-top:0;
      padding-right:35px;
      float:left;
      width:25%;
    }

    article {
      margin-top:0;
      float:right;
      width:75%;
    }
  }



  // Resultaten
  body.page-template-resultaten{

    $itemHeight: 200px;

    section#projects-overview{

      padding:0;
      .project-item{
        width:32%;
      }

    }

  }
  .project-item{
    .close{
      display: none !important;
    }
  }
}
