@include breakpoint(0 $screen-size-tablet){

  br.mobile{
    display: block;
  }

  .mobile-font-resizer{
    position: absolute;
    right: 40px;
    margin-top: 10px;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 25px;

    a{
      margin: 0 10px;
      color: $color2;
    }
  }

  body.page-template-homepage section#intro-animation{
    padding: 0 5%;
    @include box-sizing();

    img.logo{
//      width: 100%;
    }

    blockquote{
      font-size:42px;

      span{
        font-size: 78px;
      }
    }
  }


  body{

    .pagewrap {
      padding:10px 20px !important;
    }

    header#main-header{
      nav#main-nav{ display:none; }

    }
    nav#mobile-main-nav{ display:block; }
    header#main-header button.toggle-top-menu{
      display:block;
    }
    header#main-header a#logo{
      width: 30%;
      margin-top: 4px;
      max-width: 145px;
      min-width: 110px;
    }

    footer#main-footer .sidebar-widget{
      width:100%;
      margin-top: 15px;
      &:nth-child(2){
        width:100%;
        padding:0;
      }
    }

    .pagewrap{
      padding: 10px 5%;
    }

    section#content article{
      width:100%;
      margin-top:10px;
      h2{font-size:24px;}
      h3{font-size:16px;}
      h2,h3 {
        br {
          display: none;
        }
      }
    }

    section#content #col-right{
      width:100%;
      margin-left:0;
    }

    &.page section#content section#col-right{
      margin-top:0;


      .sidebar-widget{
        margin-left:0;
      }

      &.banner-space{
        top:0;
        margin:10px 0;
      }

    }

    &.page-template-contact{


      section#content{

        #col-right{
          padding:0 0 30px 0;
        }
      }
    }

  }

  // HOmepage
  body.page-template-homepage{

    section#about-us{
      .col{
        width:100%;
        margin-right:0;
      }
    }

    section#content article.intro{
      width:100%;
    }

    #slider{
      z-index: 0;
      position: relative;
    }

    section#slider_home{
      //display: none;
      height:200px;
      .buttons {
        display: none;
      }
      .labels {
        left:20px;
        right:20px;
        bottom:20px;
        h1{font-size:30px; color:#fff; margin-bottom:5px;}
        h2{font-size:18px;}
      }
    }

    section.quotes{
      .flickity-viewport{
        height:320px;
      }


      .flickity-prev-next-button{
        width: 30px;
        height: 30px;
      }

      section.quote {
        padding:15px 0;

        blockquote{
          font-size:23px;
          padding: 0 10%;
          span{
            font-size:16px;
          }
        }
      }
    }

    section#content footer{
      a.btn {margin-top:75px;}
      h3{margin:0; margin-top:-125px; font-size:15px}
    }

    section#content section#steps {

      margin-bottom:0px;
      .col{
        position: relative;
        width:100%;
        height:auto;
        padding-bottom:30px;
        margin:10px 0;
        section {
          padding:30px;
          a{padding:10px 30px;}
        }
        &:before{
          display: none;
        }
      }
    }
  }

  #breadcrumbs {
    display: none !important;
  }
  article .button{
    margin-bottom: 10px;
  }

  #questions-overview .questionbox{
    width: 100%;
  }

  section#pagination{
    .nav-prev, .nav-next{
      margin-top: 60px;
    }
  }

  // Resultaten
  body.page-template-resultaten{

    $itemHeight: 200px;

    section#projects-overview{

      padding:20px 20px 160px 20px;
      .project-item{
        margin:0 !important;
        width:100%;
      }

    }

  }

  body.page-template-references{
    section.post{
      &.withImg{

        img{width:100%; height:auto; margin-bottom:20px;}

      }

    }
  }





}
