@include breakpoint($screen-size-tablet){

  br.mobile{
    display: block;
  }

  .mobile-font-resizer{
    display: none;
  }

  body{
    header#main-header{
      nav#main-nav{ display:inline-block; }

    }
    nav#mobile-main-nav{ display:none; }
    header#main-header img.toggle-top-menu{
      display:none;
    }

    header#main-header a#logo{
      width:15%;
      margin-top:0;
    }

    footer#main-footer .sidebar-widget{
      width:50%;
      margin-top: 10px;
      &:nth-child(2){
        width:50%;
        padding: 0 30px;
//        float:right;
      }
            &:nth-child(3){
              padding: 0 0 0 20px;
        float:right;
      }

    }

    .pagewrap{
//      padding: 20px 5%;
      padding: 20px 30px;
    }


    .page_title {
      float:left;
      width:67%;
    }

    section#content article{
      width:67%;
    }

    section#content #col-right{
      margin-left: 3%;
      width: 30%;

    }

    &.page section#content section#col-right{
      margin-top: 20px;
    }

    &.page-template-contact{


      section#content{

        #col-right{
          padding:140px 0 0 0;
        }
      }
    }

  }

  body.page-template-homepage{

    section#about-us{
      .col{
        width:29%;
        margin-right:4%;

        &:nth-child(2), &:nth-child(3){
          margin:0;
          float:right;
          width:67%;
        }
      }
    }

    section#content article.intro{
      width:100%;
      padding-bottom:70px;
    }

    section#content section#steps{
      height:inherit;
      margin-top:-220px;
      .row{
        margin-right: -15px;
      }

      .col{
        width: 31.75%;
        height:350px;
        &:nth-child(2){
          height:403px;
          left:33.5%;
          top:inherit;
        }

        &:nth-child(3){
          height:455px;
          left:67%;
          top:inherit;

        }

        p{
          font-size:13px;
          line-height:140%;
        }

        a{
          padding-left:30px;
          padding-right:30px;
        }
      }
    }
  }

  section.quotes section.quote blockquote{
    font-size:30px;
    span{
      font-size:20px;
    }
  }

  body section#breadcrumbs.bottom h3 {
    line-height: 48px;
  }

  #questions-overview .questionbox{
    width: 48.9%;
  }

  body section#content section#col-right {
    top:-165px;
    &:before{
      display:block;
      content: '';
      height:50px;
      width:100%;
      background-image:url('../../assets/images/info-header-bg.png');
      background-size:100% 100%;
      background-repeat:no-repeat;
    }

    .info {
      min-height: 440px;
    }
  }
  body.archive section#content section#col-right {
  }

  body section#banner {
    height:370px;
    h1{
      width:57.5%;
      padding:0;
      left:auto;
      font-size:38px;
    }
  }

  body.single{

    section#content {
      section#col-right{
        margin-top:-265px;
      }
    }

  }

  body.search section#content {
    header#search form {
      label{display: none;}
      input[type="text"] {
        width:75%;
      }
      input[type="submit"] {
        width:25%;

      }
    }
  }


  // Resultaten
  body.page-template-resultaten{

    $itemHeight: 200px;

    section#projects-overview{

      padding:20px 20px 160px 20px;
      .project-item{
        width:49%;
      }

    }

  }

  body.page-template-references{
    section.post{
      &.withImg{

        img{
          width:140px;
          height:140px;
        }

      }

    }
  }

}
