@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,400italic);
.color-1 {
  color: #448993;
}

.color-2 {
  color: #009ba7;
}

.color-3 {
  color: #5d6e7f;
}

.color-4 {
  color: #004f64;
}

.color-5 {
  color: #fff;
}

.font-1 {
  font-family: "Source Sans Pro", sans-serif !important;
}

.font-2 {
  font-family: "Source Sans Pro", sans-serif !important;
}

.font-3 {
  font-family: "Source Sans Pro", sans-serif !important;
}

.font-4 {
  font-family: "Source Sans Pro", sans-serif !important;
}

.font-5 {
  font-family: "Source Sans Pro", sans-serif !important;
}

html, body {
  background-color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  color: #5d6e7f;
  line-height: 140%;
  margin: 0;
  padding: 0;
  letter-spacing: -0.02em;
}
html *, body * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #009ba7;
}

hr {
  margin-top: 20px;
  clear: both;
  height: 1px;
  border: 0;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 0px) {
  h1 {
    font-family: "Source Sans Pro", sans-serif;
    color: #004f64;
    font-size: 35px;
    font-weight: 700;
    margin: 45px 0 20px 0;
    line-height: 100%;
    letter-spacing: -0.04em;
  }

  h2 {
    font-family: "Source Sans Pro", sans-serif;
    color: #004f64;
    font-size: 30px;
    font-weight: 700;
    line-height: 100%;
  }

  h3 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 100%;
  }

  h4 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 110%;
  }

  p {
    margin: 10px 0 20px 0;
  }
}
@media (min-width: 1100px) {
  h1 {
    font-size: 50px;
    margin: 25px 0 10px 0;
    line-height: 100%;
  }

  h2 {
    font-size: 42px;
    margin: 25px 0 10px 0;
    line-height: 100%;
  }

  h3 {
    font-size: 28px;
    margin: 25px 0 0 0;
    line-height: 110%;
  }

  h4 {
    font-size: 20px;
    margin: 10px 0 0 0;
    line-height: 110%;
  }

  p {
    margin: 0 0 20px 0;
  }
}
p a {
  text-decoration: underline;
}
p a:hover {
  color: #448993;
}

.partners_list a:hover, .widget_nav_menu a:hover {
  color: #448993;
  text-decoration: underline;
}

blockquote {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  text-align: left;
}

.button {
  display: inline-block;
  position: relative;
  background: #ccc;
  padding: 10px 22px;
  color: #000;
  font-weight: bold;
  font-size: 14px;
  -moz-border-radius: 1px / 1px;
  -webkit-border-radius: 1px 1px;
  border-radius: 1px / 1px;
}
.button a {
  position: relative;
  display: block;
  margin: -10px -22px;
  padding: 10px 22px;
  color: #000;
  text-decoration: none;
}
.button:hover {
  background: #448993;
  color: #fff;
}
.button:hover a {
  color: #fff;
}
.button.full-width {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

body.admin-bar {
  margin-top: 30px;
}

body .pagewrap {
  max-width: 1175px;
  margin: 0 auto;
  padding: 20px 5%;
  *zoom: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body .pagewrap:after {
  content: "";
  display: table;
  clear: both;
}
body header#main-header {
  position: relative;
  background-color: #fff;
  left: 0;
  top: 0;
  right: 0;
  height: 104px;
  z-index: 2;
  -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
body header#main-header section.pagewrap {
  position: relative;
  padding: 0 5%;
}
body header#main-header #logo {
  display: inline-block;
  vertical-align: top;
  float: left;
}
body header#main-header section.right nav#main-menu {
  display: inline-block;
}
body header#main-header section.right nav#main-menu ul {
  margin: 0 -10px 0 0;
  padding: 0;
}
body header#main-header section.right nav#main-menu ul li {
  display: inline-block;
  position: relative;
  height: 40px;
}
body header#main-header section.right nav#main-menu ul li:hover ul {
  display: block;
}
body header#main-header section.right nav#main-menu ul li ul {
  display: none;
  float: left;
  position: absolute;
  left: -15px;
  top: 30px;
  background-color: #fff;
  min-width: 200px;
  z-index: 3;
  border: 1px solid #eee;
}
body header#main-header section.right nav#main-menu ul li ul li {
  box-sizing: border-box;
  height: auto;
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid #eee;
}
body header#main-header section.right nav#main-menu ul li ul li a {
  color: #448993;
  font-size: 15px;
}
body header#main-header section.right nav#main-menu ul li a {
  display: block;
  color: #004f64;
  font-size: 18px;
  padding: 0 10px;
}
body header#main-header section.right form#searchform {
  display: inline-block;
}
body header#main-header section.right form#searchform label, body header#main-header section.right form#searchform input[type=submit] {
  display: none;
}
body header#main-header section.right form#searchform input[type=text] {
  height: 35px;
  line-height: 35px;
  padding: 0 10px;
  width: 270px;
  border: 1px solid #e2e2e2;
  background: #ececec url("../../assets/images/search-icon.jpg") no-repeat right;
}
body section#breadcrumbs {
  height: 50px;
  border-bottom: 1px solid #efefef;
  background-color: #f7f7f7;
  line-height: 50px;
  font-size: 14px;
}
body section#breadcrumbs .pagewrap {
  padding-top: 0;
  padding-bottom: 0;
}
body section#breadcrumbs.bottom {
  background-image: linear-gradient(225deg, #009ba7 0%, #448993 100%);
  color: #fff;
}
body section#breadcrumbs.bottom a {
  color: #fff;
}
body section#content {
  position: relative;
  left: 0;
  right: 0;
  top: 2px;
  margin-bottom: 32px;
}
body section#content .pagewrap {
  position: relative;
}
body section#content article {
  width: 67%;
  min-height: 250px;
  float: left;
}
body section#content article h1:first-child, body section#content article h2:first-child {
  margin-top: 15px;
  margin-bottom: 25px;
}
body section#content article .gallery {
  margin: 0 -1%;
}
body section#content article .gallery .gallery-item {
  position: relative;
  overflow: hidden;
  padding: 10% 15.66%;
  margin: 1%;
  height: 0;
  width: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body section#content article .gallery img {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: none;
  width: 100%;
  height: auto;
}
body section#content article h1 {
  margin: 25px 0 35px 0;
  font-size: 40px;
}
body section#content article h2 {
  margin: 35px 0 20px 0;
  font-size: 30px;
  line-height: 120%;
}
body section#content article h4 {
  color: #448993;
  font-weight: 400;
  margin: 20px 0 5px 0;
  font-size: 20px;
}
body section#content article h3 {
  margin: 0 0 20px 0;
  font-size: 17px;
  line-height: 150%;
}
body section#content #col-right {
  position: relative;
  float: right;
  margin-top: -440px;
  margin-left: 3%;
  width: 30%;
}
body section#content #col-right:before {
  display: block;
  content: '';
  height: 50px;
  width: 100%;
  background-image: url("../../assets/images/info-header-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
body section#content #col-right .info {
  overflow: hidden;
  *zoom: 1;
  width: 100%;
  height: 444px;
  background-image: linear-gradient(133deg, #448993 0%, #004f64 100%);
  opacity: 0.95;
  color: #fff;
  padding: 32px;
  box-sizing: border-box;
}
body section#content #col-right .info p {
  margin-bottom: 15px;
}
body section#content #col-right .info a.more-info {
  color: #fff;
  position: relative;
  top: 64px;
  right: 32px;
  left: 0;
  font-size: 16px;
}
body section#content #col-right .info a.more-info i {
  float: right;
}
body section#content #col-right .btn {
  margin-top: 14px;
  display: block;
  padding: 24px 32px;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  color: #fff;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ0ODk5MyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwOWJhNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #448993), color-stop(100%, #009ba7));
  background-image: -moz-linear-gradient(left, #448993, #009ba7);
  background-image: -webkit-linear-gradient(left, #448993, #009ba7);
  background-image: linear-gradient(to right, #448993, #009ba7);
}
body section#content #col-right .btn i {
  float: right;
}
body section#banner {
  width: 100%;
  background-image: url("http://img0.mxstatic.com/wallpapers/70e4d6d6108f68cfa6e50a44cbd9e115_large.jpeg");
  background-size: cover;
  background-position: 50%;
  height: 370px;
}
body section#banner .pagewrap {
  height: 100%;
}
body section#banner h1 {
  color: #fff;
  font-size: 46px;
  font-weight: bold;
  position: absolute;
  width: 59%;
  bottom: 40px;
  text-shadow: 0 1px 4px rgba(93, 110, 127, 0.66);
}
body footer#main-footer {
  padding-top: 7px;
  position: relative;
  background-image: linear-gradient(137deg, #5d6e7f 0%, #567685 28%, #547786 34%, #004f64 100%);
  color: #fff;
  overflow: hidden;
  *zoom: 1;
}
body footer#main-footer #breadcrumbs {
  border: 0;
  font-size: 13px;
}
body footer#main-footer #breadcrumbs .pagewrap {
  padding-top: 0;
  padding-bottom: 0;
}
body footer#main-footer .sidebar-widget {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 10px;
  float: left;
  width: 25%;
  color: #fff;
  font-size: 14px;
}
body footer#main-footer .sidebar-widget a {
  color: #fff;
  text-decoration: none;
  font-weight: bolder;
}
body footer#main-footer .sidebar-widget h2 {
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 17px;
  color: #fff;
}
body footer#main-footer .sidebar-widget p {
  margin: 10px 0;
}
body footer#main-footer .sidebar-widget ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 120%;
}
body footer#main-footer .sidebar-widget ul li {
  margin: 10px 0;
}
body footer#main-footer .sidebar-widget:nth-child(1) ul li {
  position: relative;
  padding-left: 20px;
}
body footer#main-footer .sidebar-widget:nth-child(1) ul li:before {
  padding-right: 9px;
  font-family: "FontAwesome";
  content: "";
  color: #00a9b6;
}
body footer#main-footer .sidebar-widget:nth-child(1) ul li:before {
  position: absolute;
  left: 0;
}
body footer#main-footer .sidebar-widget:nth-child(2) {
  width: 50%;
  padding: 0 30px;
}

body.page-template-homepage section#slider {
  position: relative;
  background-image: url("http://www.pmsouth.com/wp-content/uploads/2015/05/Dollarphotoclub_63795831.jpg");
  background-size: cover;
  height: 708px;
  z-index: 1;
}
body.page-template-homepage section#content {
  overflow: hidden;
  *zoom: 1;
}
body.page-template-homepage section#content article.intro {
  margin: 0;
  width: 64%;
}
body.page-template-homepage section#content section#steps {
  margin-top: -150px;
  margin-bottom: -20px;
}
body.page-template-homepage section#content section#steps .row {
  display: block;
  position: relative;
  min-height: 510px;
}
body.page-template-homepage section#content section#steps .col {
  position: absolute;
  background-color: #448993;
  height: 400px;
  background-image: linear-gradient(133deg, #448993 0%, #004f64 100%);
  width: 31.5%;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  bottom: 0;
  font-size: 14px;
  left: 0;
}
body.page-template-homepage section#content section#steps .col:before {
  display: block;
  width: 100%;
  height: 50px;
  content: '';
  background-image: url("../../assets/images/step-header-bg.png");
  background-size: 100% 100%;
  background-color: #fff;
}
body.page-template-homepage section#content section#steps .col section {
  display: block;
  padding: 7% 10%;
}
body.page-template-homepage section#content section#steps .col h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: bolder;
  font-size: 26px;
  color: #fff;
}
body.page-template-homepage section#content section#steps .col a {
  position: absolute;
  bottom: 20px;
  color: #fff;
  font-weight: bolder;
  font-size: 17px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  left: 0;
  width: 100%;
  padding: 10px 30px;
}
body.page-template-homepage section#content section#steps .col a i {
  float: right;
}
body.page-template-homepage section#content section#steps .col:nth-child(2) {
  height: 453px;
  left: 33.5%;
}
body.page-template-homepage section#content section#steps .col:nth-child(3) {
  height: 505px;
  left: 67%;
}
body.page-template-homepage section#content section#quote {
  margin-bottom: 32px;
  background-color: #e3e3e3;
  padding: 32px;
}
body.page-template-homepage section#content section#quote blockquote {
  text-align: center;
  font-size: 40px;
  line-height: 120%;
  color: #004f64;
  font-style: italic;
}
body.page-template-homepage section#content section#quote blockquote span {
  font-size: 20px;
  margin-top: -20px;
  display: block;
  margin: 0;
}
body.page-template-homepage section#content #questions-overview {
  margin-bottom: 35px;
  overflow: hidden;
  *zoom: 1;
}
body.page-template-homepage section#content #questions-overview .title {
  margin-top: 0;
  margin-bottom: 30px;
}
body.page-template-homepage section#content #questions-overview .questionbox {
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #448993;
  width: 31.5%;
  display: inline-block;
  vertical-align: top;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 2%;
  padding-bottom: 40px;
  margin: 0 1.8% 40px 0;
  box-sizing: border-box;
  color: #fff;
  position: relative;
  height: 310px;
}
body.page-template-homepage section#content #questions-overview .questionbox h4 {
  font-size: 16.5px;
  margin: 2% 0;
}
body.page-template-homepage section#content #questions-overview .questionbox:nth-child(3n+3) {
  margin-right: 0;
}
body.page-template-homepage section#content #questions-overview .questionbox ul {
  margin: 25px 0 0 0;
  padding: 0;
  list-style: none;
  line-height: 120%;
}
body.page-template-homepage section#content #questions-overview .questionbox ul li {
  position: relative;
  margin: 12px 0;
  padding-left: 25px;
}
body.page-template-homepage section#content #questions-overview .questionbox ul li a {
  color: #fff;
  opacity: 0.8;
}
body.page-template-homepage section#content #questions-overview .questionbox ul li i {
  -moz-transition: left 0.3s;
  -o-transition: left 0.3s;
  -webkit-transition: left 0.3s;
  transition: left 0.3s;
  position: absolute;
  margin-right: 10px;
  color: #004f64;
  height: 100%;
  left: 0px;
  font-size: 14px;
  top: 2px;
}
body.page-template-homepage section#content #questions-overview .questionbox ul li:hover a {
  opacity: 1;
  text-decoration: underline;
}
body.page-template-homepage section#content #questions-overview .questionbox ul li:hover a i {
  left: 5px;
}
body.page-template-homepage section#content #questions-overview .questionbox button {
  position: absolute;
  bottom: -20px;
  right: 0;
  width: 125px;
  height: 50px;
  line-height: 50px;
  background-color: #004f64;
  -moz-border-radius: 5px 0px 10px 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px 0px 10px 5px;
  border: 0;
  font-weight: 700;
  font-size: 13px;
}
body.page-template-homepage section#content #questions-overview .questionbox button:hover {
  background-color: #009ba7;
}
body.page-template-homepage section#content #questions-overview .questionbox button a {
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0px;
}
body.page-template-homepage section#content #questions-overview footer {
  clear: both;
}
body.page-template-homepage section#content #questions-overview footer h3, body.page-template-homepage section#content #questions-overview footer a.btn {
  float: right;
}
body.page-template-homepage section#content #questions-overview footer h3 {
  font-size: 17px;
  line-height: 150%;
  color: #448993;
  margin-right: 20px;
  text-align: right;
}
body.page-template-homepage section#content #questions-overview footer a.btn {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  box-sizing: border-box;
  margin-top: 14px;
  display: block;
  width: 290px;
  background-color: #576c7e;
  padding: 24px;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  font-weight: bolder;
}
body.page-template-homepage section#content #questions-overview footer a.btn i {
  float: right;
}
body.page-template-homepage section#content #questions-overview footer a.btn:hover {
  background-image: linear-gradient(135deg, #448993 0%, #009ba7 100%);
}
body.page-template-homepage header#about-us-header {
  background-color: #e3e3e3;
  padding: 26px 0;
}
body.page-template-homepage header#about-us-header h2 {
  font-size: 42px;
  font-weight: bold;
  margin: 10px 0 13px 0;
}
body.page-template-homepage section#about-us section.col {
  float: left;
  width: 29%;
  margin-right: 4%;
  text-align: justify;
}
body.page-template-homepage section#about-us section.col h2 {
  text-align: left;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.04em;
}
body.page-template-homepage section#about-us section.col img {
  margin-top: 27px;
  width: 100%;
}
body.page-template-homepage section#about-us section.col a.btn {
  box-sizing: border-box;
  margin-top: 14px;
  display: block;
  width: 100%;
  background-color: #009ba7;
  padding: 24px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  background-image: linear-gradient(135deg, #448993 0%, #009ba7 100%);
}
body.page-template-homepage section#about-us section.col a.btn i {
  float: right;
}
body.page-template-homepage section#about-us section.col:nth-child(3) {
  margin: 0;
}

body.page section#content {
  min-height: 650px;
}
body.page section#content section#col-right {
  margin-top: -70px;
}
body.page section#content section#col-right .info {
  height: auto;
}

body.page-template-questions #content article {
  width: 1175px;
  height: auto;
  min-height: 100px;
}
body.page-template-questions #questions-overview {
  margin: 35px 0;
  overflow: hidden;
  *zoom: 1;
}
body.page-template-questions #questions-overview .question {
  background-color: #448993;
  width: 338px;
  float: left;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 30px 20px 40px 20px;
  margin: 0 28px 40px 0;
  box-sizing: border-box;
  color: #fff;
  position: relative;
  min-height: 300px;
}
body.page-template-questions #questions-overview .question:nth-child(3n+3) {
  margin-right: 0;
}
body.page-template-questions #questions-overview .question ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body.page-template-questions #questions-overview .question ul li {
  line-height: 30px;
}
body.page-template-questions #questions-overview .question ul li a {
  color: #fff;
}
body.page-template-questions #questions-overview .question ul li i {
  margin-right: 10px;
  color: #009ba7;
}
body.page-template-questions #questions-overview .question button {
  position: absolute;
  bottom: -20px;
  right: 0;
  width: 125px;
  height: 50px;
  line-height: 50px;
  background-color: #004f64;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 0;
}
body.page-template-questions #questions-overview .question button a {
  color: #fff;
}

body.archive section#content {
  min-height: 650px;
}
body.archive section#content h1 .grey {
  color: #5d6e7f;
}
body.archive section#content article {
  min-height: inherit;
}
body.archive section#content article h2 {
  color: #009ba7;
  font-weight: bold;
}
body.archive section#content article a.btn {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #448993;
  color: #fff;
  padding: 10px;
}
body.archive section#content section#col-right {
  top: -96px;
}
body.archive section#content section#col-right .info {
  height: auto;
}

body.search section#content {
  min-height: 650px;
}
body.search section#content section#col-right {
  top: -96px;
}
body.search section#content section#col-right .info {
  height: auto;
}

.allslider {
  display: none;
  vertical-align: top;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.allslider * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.allslider .sliderContainer {
  width: 100%;
  height: 100%;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.allslider .sliderElem {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
}
.allslider .sliderElem .imageholder {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}
.allslider .sliderElem img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: none !important;
  height: auto;
}
.allslider .sliderElem .overlaybutton {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.allslider .sliderElem .labels {
  position: absolute;
  margin: auto;
  padding: 2%;
  bottom: 50px;
  left: 50px;
  margin-top: -90px;
  text-shadow: 0 2px 40px black;
}
.allslider .sliderElem .labels * {
  text-align: left;
}
.allslider .sliderElem .labels h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 75px;
  font-weight: bold;
  color: #fff;
  line-height: 130%;
  margin: 0;
}
.allslider .sliderElem .labels h3 {
  font-size: 45px;
  font-weight: 600;
  color: #fff;
  margin: 0;
}
.allslider .btn-prev, .allslider .btn-next {
  cursor: pointer;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 36px;
  height: 36px;
  top: 50%;
  margin: 0 25px;
  margin-top: -18px;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.allslider .btn-prev {
  background-image: url("../images/arrow-left-white.png");
  left: 0;
  opacity: 1;
}
.allslider .btn-next {
  background-image: url("../images/arrow-right-white.png");
  right: 0;
  opacity: 1;
}
.allslider .slider_title {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 0;
}
.allslider .bullets {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  padding: 5px;
  color: white;
}
.allslider .bullets button {
  padding: 0 !important;
  border: 0;
  width: 12px;
  height: 12px;
  -moz-border-radius: 999px / 999px;
  -webkit-border-radius: 999px 999px;
  border-radius: 999px / 999px;
  background-color: #009ba7;
  margin-right: 7px;
  outline: none;
  cursor: pointer;
  -webkit-box-shadow: rgba(255, 255, 255, 0.2902) -1px -1px 0px 0px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.2902) -1px -1px 0px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.2902) -1px -1px 0px 0px inset;
  background-image: -webkit-linear-gradient(100deg, #0f0f0f 0%, #757575 100%);
  background-image: -moz-linear-gradient(100deg, #0f0f0f 0%, #757575 100%);
  background-image: -o-linear-gradient(100deg, #0f0f0f 0%, #757575 100%);
  background-image: -ms-linear-gradient(100deg, #0f0f0f 0%, #757575 100%);
}
.allslider .bullets button:hover, .allslider .bullets button.active {
  background-image: none;
  background-color: white;
}

.rehabselector {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: 114px;
  overflow: hidden;
  margin-top: 9px;
  margin-bottom: 50px;
}
.rehabselector * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.rehabselector .sliderElem {
  background: #fff;
  cursor: pointer;
  position: relative;
  float: left;
  height: 114px;
  width: 125px;
  margin: 0 2px;
  padding: 0;
  overflow: hidden;
}
.rehabselector .sliderElem .imageholder {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}
.rehabselector .sliderElem .imageholder img {
  margin: 0 !important;
  opacity: 0.7;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.rehabselector .sliderElem.currentItem img {
  opacity: 1;
}
.rehabselector .sliderContainer {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.rehabselector .btn-prev, .rehabselector .btn-next {
  cursor: pointer;
  background-color: #fff;
  position: absolute;
  background-size: 75% auto;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 50px;
  top: 0;
  bottom: 0;
}
.rehabselector .btn-prev {
  background-image: url("../images/arrow-previous-lt-gray.png");
  left: 0;
}
.rehabselector .btn-next {
  background-image: url("../images/arrow-next-lt-gray.png");
  right: 0;
}

.allslider.fade .sliderElem {
  position: absolute;
}

.allslider.slide .sliderElem {
  position: relative;
  float: left;
}

@media (min-width: 1050px) {
  .allslider .btn-prev, .allslider .btn-next {
    width: 70px;
    height: 70px;
    margin-top: -35px;
    opacity: 0.5;
  }
  .allslider .btn-prev:hover, .allslider .btn-next:hover {
    opacity: 1;
  }
}
